p {
  border: 1px solid powderblue;
}
a {
  color: whitesmoke;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}
h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
	font-size: 60px;
  text-shadow: 2px 2px 0 purple;
}
body {
  /* background-color: darkgrey; */
  text-align: center;
  background-image: url('https://wallpaperaccess.com/full/2090500.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
}
footer{
  text-align: center;
  line-height: 1.3;
  font-family: Menlo, monospace;
  padding-top: 100px;
}
form {
  text-align: center;
  height: 500px;
  width: 50%;
  margin: auto;
  background-color: clear;
  /* opacity: .0002; */
}
button{
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  width: 340px;
  height: 80px;
  line-height: .75;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  border: 3px solid #000000;
  background: #fff;
  color: #000000;
  border-radius: 40px;
  overflow: hidden;

}
button:hover{
  background: forestgreen;
  color: #fff;
}
ul {
  display: inline-flex;
  grid-gap: 24px;
  justify-items: center;
}
li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}
