p {
  border: 1px solid powderblue;
}
a{
  color: #000000;
}
h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
	font-size: 60px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 0 purple;
}
body {
  /* background-color: darkgrey; */
  text-align: center;
  background-image: url('https://wallpaperaccess.com/full/2090500.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
}
footer{
  background-color: black;
}
form {
  text-align: center;
  height: 500px;
  width: 50%;
  margin: auto;
  position: relative;
  background-color: clear;
  /* opacity: .0002; */
  padding-top: 100px;
}
button{
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  width: 340px;
  height: 80px;
  line-height: .75;
  font-size: 40px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
  border: 3px solid #000000;
  background: #fff;
  color: #000000;
  border-radius: 40px;
  overflow: hidden;

}
button:hover{
  background: forestgreen;
  color: #fff;
}